<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.10.1" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" targetFramework="net472" />
  <package id="MonoMod.Utils" version="22.3.23.4" targetFramework="net472" />
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net472" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.20" targetFramework="net472" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net472" />
  <package id="BepInEx.PluginInfoProps" version="2.1.0" targetFramework="net472" />
</packages>